* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.popup {
  min-width: 360px;
  color: #252525;
  padding: 0;
}

.popup-content {
  padding: 16px;
}
.popup-title {
  margin-bottom: 16px;
}

.popup-control {
  display: flex;
  align-items: center;
  gap: 4px;
}

.popup-input {
  width: 100%;
  border-radius: 4px;
  background-color: white;
  font-size: 14px;
  padding: 10px 12px;
  height: 28px;
  width: 70%;
  border-width: 1px;
}

.popup-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  background-color: #577453;
  outline: none;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  padding: 0 8px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.popup-btn:hover {
  opacity: 0.9;
}

.popup-about {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #f5f5f5;
  padding: 12px 16px;
  font-weight: 500;

  a {
    text-decoration: none;
    color: #577453;
  }
}
